body {
    margin: 0;
}
.horizontal-felxbox {
    display: flex;
    justify-content: space-around;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-nav {
    background-color: slategrey;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}

.menu:hover {
    color: #EEE8AA;
}

.page1{
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    background-color: #EEE8AA;
}

.image-container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.name {
    font-size: 40px;
}

.position {
    font-size: 25px;
}

.button {
    padding: 10px 20px;
    font-size: 25px;
    border: solid 1px;
    background-color: slategrey;
}

.button:hover {
    color: #EEE8AA;
}


.vertical-flexbox>.vertical-flexbox>div {
    width: 100vh;
    text-align: center;
    padding: 20px 0;
}